<dialog class="video-dialog" data-video-dialog aria-label="Aerial video viewer">
  <button class="video-dialog__close" type="button" data-close-video aria-label="Close video">Close</button>
  <video controls playsinline preload="metadata" data-video-player></video>
  <p data-video-description></p>
</dialog>
